<div class="page-content">
    <div class="alert alert-block alert-info">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>

									<i class="ace-icon fa fa-check green"></i>

									Accessing this page will help you review your locations later.
			</div>
    
    
    <style>
        #map{
        width: inherit;
            height: 400px;
        }
    </style>

        <!--map placeholder-->
        <div id="map"></div>
        <!--langitude and attittude-->
        <div ></div>
        <div id="long"></div>
 
   
</div>