<div class="page-content">
    <script>
        
    </script>
     
     
     
    <style>
        #map{
        width: 1300px;
            height: 400px;
        }
    </style>
    <body>
        <!--map placeholder-->
        <div id="map"></div>
        <!--langitude and attittude-->
        <div ></div>
        <div id="long"></div>
    </body>
    <!--<input type="text" ng-model="formData.mylat" id="mylat" name="mylat"/>           
                <input type="text" ng-model="formData.mylong" name="mylong" id="mylong"/>
    <input type="text" ng-model="formData.date" name="date" id="date"></input>-->
    <form role="form" id="form1" method="post" class="validate" ng-controller="localisationController">
                

    
        

            <div class="form-group">
                <button type="submit" ng-click="add()" class="btn btn-success">Validate</button>
            </div>

        </form>
   
</div>