<div class="page-content">
   

   

<body>
<div id="googleMap" style="width:1300px;height:400px;"></div>
</body>
    
</div>
 <script>
var init=new google.maps.LatLng(34.4167, 8.7833);
var bizert1=new google.maps.LatLng(37.2763, 9.8731);
var tunis1=new google.maps.LatLng(36.8188, 10.166);
var manouba1=new google.maps.LatLng(36.809328, 10.086327);
var gabes1=new google.maps.LatLng(33.8933, 10.1029);
var siliana1=new google.maps.LatLng(36.0849700, 9.37082);
var sfax1=new google.maps.LatLng(34.7452, 10.7613);
var medenin1=new google.maps.LatLng(33.3489, 10.4948);
var sousse1=new google.maps.LatLng(35.833, 10.6387);
var monastir1=new google.maps.LatLng(35.7772, 10.8261);
var kef1=new google.maps.LatLng(36.1822, 8.7147);
var beja1=new google.maps.LatLng(36.7253, 9.192);
var kairaouan1=new google.maps.LatLng(35.6771, 10.0972);
var tozeur1=new google.maps.LatLng(33.924, 8.1312);
var gafsa1=new google.maps.LatLng(34.4217, 8.7867);
var tataouin1=new google.maps.LatLng(32.9211, 10.4509);
var kebeli1=new google.maps.LatLng(33.1245, 8.8363);
var mahdia1=new google.maps.LatLng(35.5024, 11.0457);
var nabeul1=new google.maps.LatLng(36.4542, 10.7347);
var jendouba1=new google.maps.LatLng(36.5, 8.7833);
var kasserin1=new google.maps.LatLng(35.1715, 8.8287);
var sidibouzid1=new google.maps.LatLng(35.0333, 9.5);
var ariana1=new google.maps.LatLng(36.8625, 10.1956);
var benarous1=new google.maps.LatLng(36.6436, 10.2152);
var zaghouan1=new google.maps.LatLng(36.3997, 10.1472);
function initialize()
{
var mapProp = {
  center:init,
  zoom:7,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var bizert = new google.maps.Circle({
  center:bizert1,
  radius:10000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var tunis = new google.maps.Circle({
  center:tunis1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var mannouba = new google.maps.Circle({
  center:manouba1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var benarous = new google.maps.Circle({
  center:benarous1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var nabeul = new google.maps.Circle({
  center:nabeul1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var tozeur = new google.maps.Circle({
  center:tozeur1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var gafsa = new google.maps.Circle({
  center:gafsa1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var gabes = new google.maps.Circle({
  center:gabes1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var medenin = new google.maps.Circle({
  center:medenin1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var selyena = new google.maps.Circle({
  center:siliana1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var sidibouzid = new google.maps.Circle({
  center:sidibouzid1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var kairouan = new google.maps.Circle({
  center:kairaouan1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var sousse = new google.maps.Circle({
  center:sousse1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var mounastir = new google.maps.Circle({
  center:monastir1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var sfax = new google.maps.Circle({
  center:sfax1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var tataouin = new google.maps.Circle({
  center:tataouin1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var beja = new google.maps.Circle({
  center:beja1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var kef = new google.maps.Circle({
  center:kef1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var jandouba = new google.maps.Circle({
  center:jendouba1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var kasrine = new google.maps.Circle({
  center:kasserin1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var mahdia = new google.maps.Circle({
  center:mahdia1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var ariana = new google.maps.Circle({
  center:ariana1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var zaghouan = new google.maps.Circle({
  center:zaghouan1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });
    var kebeli = new google.maps.Circle({
  center:kebeli1,
  radius:20000,
  strokeColor:"#0000FF",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#0000FF",
  fillOpacity:0.4
  });

bizert.setMap(map);
tunis.setMap(map);
mannouba.setMap(map);
benarous.setMap(map);
gabes.setMap(map);
gafsa.setMap(map);
sousse.setMap(map);
mounastir.setMap(map);
kebeli.setMap(map);
kef.setMap(map);
zaghouan.setMap(map);
tataouin.setMap(map);
mahdia.setMap(map);
kairouan.setMap(map);
kasrine.setMap(map);
jandouba.setMap(map);
beja.setMap(map);
sidibouzid.setMap(map);
medenin.setMap(map);
selyena.setMap(map);
nabeul.setMap(map);
sfax.setMap(map);
tozeur.setMap(map);
}

google.maps.event.addDomListener(window, 'click', initialize);
</script>