<div class="page-content">
    
<div class="alert alert-block alert-info">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>

									<i class="ace-icon fa fa-check green"></i>

									This is where you can review the places you went to.
			</div>


<style>
        #googleMap{
        width: inherit;
            height: 400px;
        }
    </style>

    <ul class="list-group">
        <li class="list-group-item">father <span style="color:blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------------------------------------------------------------------------</span></li>
        <li class="list-group-item">mother <span style="color:#FF0000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------------------------------------------------------------------------</span></li>
        <li class="list-group-item">son    <span style="color:#72ab88">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------------------------------------------------------------------------</span></li>
        <li class="list-group-item">daughter  <span style="color:#800080">&nbsp;&nbsp;------------------------------------------------------------------------</span></li>
    </ul>
<div id="googleMap"></div>
    

    
</div>