<div class="page-content">
    
<div class="alert alert-block alert-info">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>

									<i class="ace-icon fa fa-check green"></i>

									This is where you can review the places you went to.
			</div>


<style>
        #googleMap{
        width: inherit;
            height: 400px;
        }
    </style>
<body >
    <ul class="list-group">
        <li id="chemin" class="list-group-item"></li>
    </ul>
<div id="googleMap"></div>
    
</body>
    
</div>