
  <link rel="stylesheet" href="../lib2/jQuery/jquery.ui.min.css" />
								<div class="hr dotted"></div>

								
									<div id="user-profile-1" class="user-profile row">
										<div class="col-xs-12 col-sm-3 center">
											<div>
												<!-- #section:pages/profile.picture -->
												<span class="profile-picture">
													<img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="../assets/avatars/profile-pic.jpg" />
												</span>

												<!-- /section:pages/profile.picture -->
												<div class="space-4"></div>

												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">
														<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
															<i class="ace-icon fa fa-circle light-green"></i>
															&nbsp;
															<span class="white">{{currentuser.username}}</span>
														</a>

														
													</div>
												</div>
											</div>

											<div class="space-6"></div>

			
											<!-- /section:pages/profile.contact -->
											<div class="hr hr12 dotted"></div>

											<!-- #section:custom/extra.grid -->
											<div ng-repeat="m in myprod" class="clearfix">
                                                <h4>
                                                <i class="ace-icon fa fa-star orange"></i>
                                                    {{m.titre}}
                                                    </h4>
												<img src="{{m.photo}}"  /> 
                                           <br/>
                                                <span class="label label-primary arrowed arrowed-right">
                                             <h4 style="margin-top:-1px;">{{m.prix}}</h4>
                                                </span>
                                                
											</div>

											<!-- /section:custom/extra.grid -->
											<div class="hr hr16 dotted"></div>
										</div>

										<div class="col-xs-12 col-sm-9">
											

											<div class="space-12"></div>

											<!-- #section:pages/profile.info -->
											<div class="profile-user-info profile-user-info-striped">
												<div class="profile-info-row" >
													<div class="profile-info-name"> {{'pseud' | translate}} </div>

													<div class="profile-info-value">
														<span class="editable" id="username">{{currentuser.username}}</span>
													</div>
												</div>

												
<div class="profile-info-row">
													<div class="profile-info-name"> {{'mth' | translate}} </div>

													<div class="profile-info-value">
														<span class="editable" id="name">{{currentuser.name}}</span>
													</div>
												</div>
												
                                                
                                                <div class="profile-info-row">
													<div class="profile-info-name"> {{'wk' | translate}} </div>

													<div class="profile-info-value">
														<span class="editable" id="username">{{currentuser.familyname}}</span>
													</div>
												</div>

												<div class="profile-info-row">
													<div class="profile-info-name"> Birth date </div>

													<div class="profile-info-value">
														<span class="editable" id="signup">{{currentuser.birth}}</span>
													</div>
												</div>

												

												

											<!-- /section:pages/profile.info -->
											

								
											<div class="hr hr2 hr-double"></div>

											

											<div class="center">
												
                                                	<div  id="member-tab" class="tab-pane active">
                                                        <div class="alert alert-block alert-info">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>

									<i class="ace-icon fa fa-check green"></i>

									{{'dy' | translate}}
			</div
															<!-- #section:pages/dashboard.members -->
															<div class="clearfix">
																<div ng-repeat="p in fbs" class="itemdiv memberdiv">
																	<div class="user">
																		<img alt="Bob Doe's avatar" src="../assets/avatars/user.jpg">
																	</div>

																	<div   class="body">
																		<div class="name">
																			<a href="#">{{p.name}} {{p.familyname}}</a>
																		</div>

																		

																		
																	</div>
																</div>

														
														
															</div>

															
 


															<!-- /section:pages/dashboard.members -->
														</div><!-- /.#member-tab -->
											</div>
										</div>
									</div>
								</div>

							
				
		
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		

		 <script type="text/javascript" src="../lib2/jQuery/jquery.min.js"></script>
            <script type="text/javascript" src="../lib2/Bootstrap/bootstrap.min.js"></script>
            <script type="text/javascript" src="../lib2/jQuery/jquery.ui.min.js"></script>
	