		 <form action="" method="post">
    Display All Products<select name="choix" ng-model="query">
        <option name="choixx" class="form-group" value="Carrefour">Carrefour</option>
        <option name="choixx" class="form-group" value="Geant">Geant</option>
        
    </select>
        <br>
        <label>Search for a referance or type</label>
        <input type="text" class="form-group" placeholder="Exemple: Dixan" ng-model="query2">
    <input type="submit" class="btn btn-primary"/>
        

    </form>	
<div ng-repeat="m in needs|filter:query|filter:query2">
    																		<div class="col-xs-6 col-sm-3 pricing-box" style="max-height:502px">
    										<div class="widget-box widget-color-orange">
    											<div class="widget-header" style="max-height:10px">
    												<h5 class="widget-title bigger lighter">{{m.titre}}</h5>
    											</div>

    											<div class="widget-body">
    												<div class="widget-main">
    													<ul class="list-unstyled spaced2">
    														<li>
    															<img src={{m.photo}} style="width: 80%;">
    														</li>

    														<li>
    															<i class="ace-icon fa fa-check green"></i>
    															Source:{{m.source}}
    														</li>

    													 
    													</ul>

    													<hr />
    													<div class="price">
    														{{m.prix}}
    														<small>/TTC</small>
    													</div>
    												</div>

    												<div>
    													<a href="#" class="btn btn-block btn-warning">
    														<i class="ace-icon fa fa-shopping-cart bigger-110"></i>
    														<span>Buy</span>
    													</a>
    												</div>
    											</div>
    										</div>
    									</div>
     </div>
   