<center><img src="./images/altounsia.jpg"  width="160"/> </center>
<div ng-repeat="n in medianews">
    
   <h3>{{n.titre}}</h3> at {{n.date}} <br/><img width="230" src="{{n.image}}" /><br/>
    <a href="{{n.lien}}" target="_blank">Check it out</a>
    

</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<hr/>
<center><img src="./images/chourouk.jpeg" width="160" /> </center>

<div ng-repeat="c in chourouk">
    
   <h3>{{c.titre}}</h3> at {{c.date}} <br/><img width="230" src="{{c.image}}" /> <br/>
    <a href="{{c.lien}}" target="_blank">Check it out</a>
    

</div>