
		<div style="background-image: url('./images/mandherjdid.jpg'); height: 721px;"  class="main-container">
			<div class="main-content" style="overflow: hidden;">
				<div class="row">
					<div class="col-sm-12">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-leaf green"></i>
									<span class="red">{{ 'TITLE' | translate }}</span>
									<span class="blue" id="id-text2">{{ 'a' | translate}} FamilyNetwork</span>
								</h1>
							
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
							
						<div class="alert alert-block alert-danger">
									

									<i class="ace-icon fa fa-check green"></i>

									{{'ferror' | translate}}
									
			</div>
							
							</div><!-- /.position-relative -->

							
                            
                            
<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title lighter smaller">
													<i class="ace-icon fa fa-comment blue"></i>
													Talk with rumble while waiting
												</h4>
											</div>

											<div class="widget-body">
												<div class="widget-main no-padding">
													<!-- #section:pages/dashboard.conversations -->
													<div ng-repeat="r in rep" class="dialogs ace-scroll"><div class="scroll-track scroll-active" style="display: block; height: 300px;"><div class="scroll-bar" style="height: 236px; top: 0px;"></div></div><div class="scroll-content" style="max-height: 300px;">
														<div  class="itemdiv dialogdiv">
															
                                                            <div class="user">
																	<img src="./images/avatar2.png"/>
																</div>
                                                            <div class="body">
																<div class="text">{{user}} :{{r.message}}</div>
                                                                
                                                                </div>
                                                            
                                                            <br/>
                                                            <br/>
                                                            <div class="user">
																<img alt="Alexa's Avatar" src="./images/cortana.gif">
															</div>

															<div class="body">
																

												
																<div class="text">{{r.reponse}}</div>

																
															</div>
														</div>
				                                </div>
                                                    
                                                </div>

													<!-- /section:pages/dashboard.conversations -->
													<form>
														<div class="form-actions">
															<div class="input-group">
																<input placeholder="Type your message here ..." type="text" ng-model="msg" class="form-control" name="message">
																<span class="input-group-btn">
																	<button class="btn btn-sm btn-info no-radius" type="button" ng-click="tkalem()">
																		<i class="ace-icon fa fa-share"></i>
																		Send
																	</button>
																</span>
															</div>
														</div>
													</form>
												</div><!-- /.widget-main -->
											</div><!-- /.widget-body -->
										</div>
                            
                            
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="../assets/js/jquery.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="../assets/js/jquery1x.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->
