
		<div style="background-image: url('./images/mandherjdid.jpg'); height: 721px;"  class="main-container">
			<div class="main-content" style="overflow: hidden;">
				<div class="row">
					<div class="col-sm-12">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-leaf green"></i>
									<span class="red">{{ 'TITLE' | translate }}</span>
									<span class="blue" id="id-text2">{{ 'a' | translate}} FamilyNetwork</span>
								</h1>
							
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
							
						<div class="alert alert-block alert-danger">
									

									<i class="ace-icon fa fa-check green"></i>

									You have not been added into a family. please contact your family admin.
			</div>
							
							</div><!-- /.position-relative -->

							
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="../assets/js/jquery.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="../assets/js/jquery1x.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->