<div ng-controller="remainController">
    <p id="resultat"></p>
    <audio id="myAudio">
  <source src="http://www.memoclic.com/medias/sons-wav/1/335.wav" type="audio/wav">
  <source src="http://www.memoclic.com/medias/sons-wav/1/335.mp3" type="audio/mpeg">
</audio>
<form class="form-group">
  <label class="control-label" for="inputSuccess1">Event title</label>
  <input type="text" class="form-control" id="tache" aria-describedby="helpBlock2">
<label class="control-label" for="inputSuccess1">Time remaining</label>
    <input type="text" class="form-control" id="time" aria-describedby="helpBlock2">
    
    <button type="submit" class="btn btn-primary" ng-click="timeRemain()">Submit</button>
</form>
    <h1 id="compteur"></h1>
    
    </div>
    
    <!--<script type="text/javascript">
        document.getElementById("bnt").on('click', function() {
            
        var a = document.getElementById("time");
        console.log(a);
		var timeLeft = 5;
		var compteur= document.getElementById('compteur')
		var intervalID = setInterval(function() { 
		compteur.innerHTML = "il vous reste (" + --timeLeft + "s)";
        }, 1000);
        var timerID = setTimeout(function() { 
		clearInterval(intervalID);
		compteur.innerHTML = "terminer";
		

		}, 6000);});
	</script>-->
    

