<div id="timeline-1" class="">
									<div class="row">
                                      	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
											<!-- #section:pages/timeline -->
                                             <h3 class="header blue lighter smaller">
											<i class="ace-icon fa fa-cutlery smaller-90"></i>
											Search for a subject
                                                 
										</h3>
                                            <input id="search" type="text" class="form-control ui-autocomplete-input" placeholder="Type 'a' or 'h'" ng-model="query">
                               <h3 class="header blue lighter smaller">
											<i class="ace-icon fa fa-star smaller-90"></i>
											Or add a comment
                                                 
										</h3>                
<form method="put" id="todo-form">
    <select class="form-control" id="form-field-select-1"  ng-model="ids">
		    <option> Select a subject</option>
            <option ng-repeat="f in foods" value="{{f.title}}">{{f.title}}</option>
            
	</select>
                    <input class="form-control" type="text" placeholder="Title"     ng-model="nom" />
                  
                     <input type="submit"  value="Add Task" ng-click="update(ids,nom)" class="btn btn-primary btn-block"    />
                </form>
                                            <hr>
                                             <div ng-repeat="f in foods|filter:query">
											<div class="timeline-container">
												<div class="timeline-label">
													<!-- #section:pages/timeline.label -->
													<span class="label label-primary arrowed-in-right label-lg">
														<b>{{f.contenue}}</b>
													</span>

													<!-- /section:pages/timeline.label -->
												</div>
 
												<div class="timeline-items">
                                                     <div ng-repeat="ff in f.message">
													<!-- #section:pages/timeline.item -->
													<div class="timeline-item clearfix">
														<!-- #section:pages/timeline.info -->
														<div class="timeline-info">
															<img alt="Susan't Avatar" src="../assets/avatars/avatar1.png">
															 
                                                            <i class="timeline-indicator ace-icon fa fa-cutlery btn btn-success no-hover"></i>
														</div>
                                                        

														<!-- /section:pages/timeline.info -->
                                                       
														<div class="widget-box transparent">
															<div class="widget-header widget-header-small">
																<h5 class="widget-title smaller">
																	<a href="#" class="blue">{{f.userId}}</a>
																	<span class="grey">
																	   <span class="blue bolder"> {{ff.users}} </span> 
                                      replied about 
                                      <span class="blue bolder">{{f.title}}</span></span>
																</h5>

																<span class="widget-toolbar no-border">
																	<i class="ace-icon fa fa-clock-o bigger-110"></i>
																	{{ff.dates}}
																</span>
 
															</div>

															<div class="widget-body" style="display: block;">
																<div class="widget-main">
																
																	<input type="hidden" ng-model="f._id" >
																	<input type="hidden"  ng-model="ff._id">
																	<input type="hidden"  ng-model="ff.vote">
																	
																	<div class="space-6"></div>

																	<div class="widget-toolbox clearfix">
																		<div class="pull-left">
																			<i class="ace-icon fa fa-hand-o-right grey bigger-125"></i>
																			<a href="#" class="bigger-110">	{{ff.nom}}?</a>
																		</div>

																		<!-- #section:custom/extra.action-buttons -->
																		<div class="pull-right action-buttons">



																			<button ng-click="vote(f._id,ff._id,ff.vote+1)">
																				{{ff.vote}}<i class="ace-icon fa fa-heart red bigger-125"></i>
																			</button>


																			 
																		</div>

																		<!-- /section:custom/extra.action-buttons -->
																	</div>
																</div>
															</div>
														</div>
													 
                                                    </div>

													<!-- /section:pages/timeline.item -->
													 

													 
													 </div>
												</div><!-- /.timeline-items -->
											</div><!-- /.timeline-container -->
                                            </div>
										 	<div class="timeline-container">
												<div class="timeline-label">
													<span class="label label-grey arrowed-in-right label-lg">
														<b>May 17</b>
													</span>
												</div>

												<div class="timeline-items">
													<div class="timeline-item clearfix">
														<div class="timeline-info">
															<i class="timeline-indicator ace-icon fa fa-leaf btn btn-primary no-hover green"></i>
														</div>

														<div class="widget-box transparent">
															<div class="widget-header widget-header-small">
																<h5 class="widget-title smaller">Add a Subject </h5>

															 
 
															</div>

															<div class="widget-body">
																<div class="widget-main">
																	<form method="post" id="todo-form">
                    <input type="text" placeholder="Title"     ng-model="food.title" class="form-control" />
                    <input type="hidden" ng-model="food.mx"  class="form-control" />
                    {{users}}gh
                    <textarea placeholder="Description"    ng-model="food.contenue" class="form-control"></textarea> 
                       <input type="submit" style="color: white; background-color: #2E64FE;" value="Add Task" ng-click="add(t,ds)"     />
                </form>
																</div>
															</div>
														</div>
													</div>
												</div><!-- /.timeline-items -->
											</div><!-- /.timeline-container -->

											<!-- /section:pages/timeline -->
										</div>
									</div>
								</div>



