 <div class="page-content">
						<!-- #section:settings.box -->
						 

						<!-- /section:settings.box -->
						<div class="page-header">
							<h1>
								 
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
Choose A Team								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12" id="24">
								<!-- PAGE CONTENT BEGINS -->
                                <div ng-repeat="m in team">
                                <div class="col-xs-6 col-sm-3 pricing-box">
                                         <a ng-href="#/team/{{m.Link}}" title="Photo Title" data-rel="colorbox">
                    <img  alt="150x150" src="{{m.logo}}" id="{{m.link}}" />
                    {{m.League}}
											</a>
                                       
                                </div>
                            </div>
								<div>
                                    
									 
									
									
									
									
								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
			