<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AngelPrime to-do List</title>

        <link rel="stylesheet" href="../lib2/Bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="../lib2/jQuery/jquery.ui.min.css" />
        <link rel="stylesheet" href="../assets2/todo.css" />
    </head>

    <body class="well">
        <div id="container">

            <div id="header"> To Do List </div>

            <div class="task-list task-container" id="pending">
                <h3>To Do</h3>
         
                <div   ng-repeat="x in todo">
                 
                     <div class="todo-task"  >
                    <div class="task-header">{{x.titre}}</div>
                    <div class="task-date">{{x.date}}</div>
                    <div class="task-description" >{{x.description}}</div>
                      
                         <div>  <a ng-href="#/todo/{{x._id}}" ng-click="update()" >doing  </a></div>
                            
                </div>
                   
               
                </div>    
            </div>

            <div class="task-list task-container" id="inProgress">
                <h3>Doing</h3>
                
                 <div   ng-repeat="x in doing">
                 
                     <div class="todo-task"  draggable=true>
                     <div class="task-header">{{x.titre}}</div>
                    <div class="task-date">{{x.date}}</div>
                    <div class="task-description">{{x.description}}</div>
                           <div>  <a ng-href="#/todo2/{{x._id}}" ng-click="update()" >pass to done  </a></div>
                </div>
                    
               
                </div>   
            </div>

            <div class="task-list task-container" id="completed">
                <h3>Done</h3>
                 <div   ng-repeat="x in done">
                 
                     <div class="todo-task"  >
                   <div class="task-header">{{x.titre}}</div>
                    <div class="task-date">{{x.date}}</div>
                    <div class="task-description">{{x.description}}</div>
                         
                <div>  <a ng-href="#/tododelete/{{x._id}}" >finisied  </a></div>
                </div>
                    
               
                </div>   
                
            </div>

            <div class="task-list">
                <h3>Add a task</h3>
                <form id="todo-form">
                    <input type="text" placeholder="Title"   ng-model="t" />
                    <textarea placeholder="Description"  ng-model="ds"></textarea>
                    <input type="text" id="datepicker" placeholder="Due Date (dd/mm/yyyy)"  ng-model="d"/>
                    <input type="button" class="btn btn-primary" value="Add Task" ng-click="add(t,ds,d)"     />
                </form>

                
                <a ng-href="#/tododeleteall"  >  <input type="button" class="btn btn-primary" value="Clear Data" onclick="todo.clear();" /></a>
                
                
                

                <div id="delete-div">
                    Drag Here to Delete
                </div>
            </div>

            <div style="clear:both;"></div>
            
       
            
            
	          <script type="text/javascript" src="../lib2/jQuery/jquery.min.js"></script>
            <script type="text/javascript" src="../lib2/Bootstrap/bootstrap.min.js"></script>
            <script type="text/javascript" src="../lib2/jQuery/jquery.ui.min.js"></script>
            <script type="text/javascript" src="../assets2/todo.js"></script>

            <script type="text/javascript">
                $( "#datepicker" ).datepicker();
                $( "#datepicker" ).datepicker("option", "dateFormat", "dd/mm/yy");

                $(".task-container").droppable();
                $(".todo-task").draggable({ revert: "valid", revertDuration:200 });
                todo.init();
            </script>

        </div>
    </body>
</html>