<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AngelPrime to-do List</title>

        
        <link rel="stylesheet" href="../lib2/jQuery/jquery.ui.min.css" />
        
        <link rel="stylesheet" href="../assets2/todo.css" />
    </head>

    <body class="well">
        <div id="container">

              <div > <h3>{{'tt' | translate}}</h3> </div>

            <div class="task-list task-container" id="pending">
                <h3>{{'td' | translate}}</h3>
         
                <div   ng-repeat="x in todo">
                 
                     <div class="todo-task"  >
                    <div class="task-header">{{x.titre}}</div>
                    <div class="task-date">{{x.date}}</div>
                    <div class="task-description" >{{x.description}}</div>
                      
                         <div> <span class="label " ><a ng-href="#/todo/{{x._id}}" ng-click="update()"  style="color:white">{{'mtd' | translate}}   </a> </span></div>
                            
                </div>
                   
               
                </div>    
            </div>

            <div class="task-list task-container" id="inProgress">
                <h3>{{'doi' | translate}}</h3>
                
                 <div   ng-repeat="x in doing">
                 
                     <div class="todo-task"  draggable=true>
                     <div class="task-header">{{x.titre}}</div>
                    <div class="task-date">{{x.date}}</div>
                    <div class="task-description">{{x.description}}</div>
                         
                         <div> <span class="label label-success arrowed" > <a ng-href="#/todo2/{{x._id}}" ng-click="update()"  style="color:white">{{'mtdd' | translate}}   </a></span></div>
                </div>
                    
               
                </div>   
            </div>

            <div class="task-list task-container" id="completed">
                <h3>{{'don' | translate}}</h3>
                 <div   ng-repeat="x in done">
                 
                     <div class="todo-task"  >
                   <div class="task-header">{{x.titre}}</div>
                    <div class="task-date">{{x.date}}</div>
                    <div class="task-description">{{x.description}}</div>
                        
                         
                         
                         <div>  <span class=" label label-danger arrowed-in " ><a ng-href="#/tododelete/{{x._id}}" style="color:white"> {{'clr' | translate}}  </a></span> </div>
                </div>
                    
               
                </div>   
                
            </div>

            <div class="task-list">
                <h3>{{ 'tach' | translate}}</h3>
                <form method="post" id="todo-form">
                    <input type="text" placeholder="{{'ttl' | translate }}" required   ng-model="t" />
                    <textarea placeholder="{{'desc' | translate }}" required  ng-model="ds"></textarea>
                    <input type="text" id="datepicker" required placeholder="{{'dat' | translate }} (dd/mm/yyyy)"  ng-model="d"/>
                    <input type="submit" style="color: white; background-color: #2E64FE;" value="Add Task" ng-click="add(t,ds,d)"     />
                </form>

                
                <a ng-href="#/tododeleteall"  >  <input type="submit" style="color: white; background-color: #2E64FE;" value="Clear Data" onclick="todo.clear();" /></a>
                
                
                

                <div id="delete-div">
                    Drag Here to Delete
                </div>
            </div>

            <div style="clear:both;"></div>
            
       
            
            
	        <script type="text/javascript" src="../lib2/jQuery/jquery.min.js"></script>
            <script type="text/javascript" src="../lib2/Bootstrap/bootstrap.min.js"></script>
            <script type="text/javascript" src="../lib2/jQuery/jquery.ui.min.js"></script>
            <script type="text/javascript" src="../assets2/todo.js"></script>

            <script type="text/javascript">
                

                $(".task-container").droppable();
                $(".todo-task").draggable({ revert: "valid", revertDuration:200 });
                todo.init();
            </script>

            
            <script>
            window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
            </script>
        </div>
    </body>
</html>