

	<div class="login-layout">
		<div style="background-image: url('./images/mandher2.jpg'); height: 721px;"  class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-leaf green"></i>
									<span class="red">Welcome</span>
									<span class="blue" id="id-text2">to FamilyNetwork</span>
								</h1>
							
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												Please Enter Your Information
											</h4>
                                            <div ng-show="error" class="alert alert-danger">
 <strong>{{error}}</strong>
</div>

											<div class="space-6"></div>

											<form role="form" id="form1" method="post">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input ng-model="formData.username" id="nom" type="text" class="form-control" placeholder="Username" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input ng-model="formData.password" id="pass" type="password" class="form-control" placeholder="Password" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>
                                                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input ng-model="formData.name" id="name" type="text" class="form-control" placeholder="Name" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>
                                                    
                                                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input ng-model="formData.familyname" id="fn" type="text" class="form-control" placeholder="Family name" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>
                                                    
                                                    
                                                  <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input ng-model="formData.birth" id="birth" type="date" class="form-control" placeholder="Birth date" />
															<i class="ace-icon fa fa-list-alt"></i>
														</span>
													</label> 
                                                    <label class="block clearfix">I am the family Administrator
														<span class="block input-icon input-icon-right">
                                                           
															<input ng-model="formData.familyid" id="fid" type="checkbox" class="form-control" />
															<i class="ace-icon fa fa-list-alt"></i>
														</span>
													</label>
                                                    
                                                    
                                                    

													<div class="space"></div>

													<div class="clearfix">
														

														<button type="submit" ng-click="add()" type="button" class="width-35 pull-right btn btn-sm btn-primary">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">Register</span>
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

											
										</div><!-- /.widget-main -->

										<div class="toolbar clearfix">
											

											<div>
												<a href="#/login" data-target="#signup-box" class="user-signup-link">
													Back to login
													<i class="ace-icon fa fa-arrow-right"></i>
												</a>
											</div>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.login-box -->
							</div><!-- /.position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="../assets/js/jquery.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="../assets/js/jquery1x.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->
		
	</div>